@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}

/* Estilos globales o en tu archivo CSS */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  background-color: #fff;
  font-family: 'Montserrat, sans-serif';
}

.logo {
  font-size: 1.5em;
  font-weight: bold;
  color: #006D5B;
  display: flex;
  align-items: center;
}

.nav-buttons {
  display: flex;
  gap: 10px;
}

.menu-button {
  display: none;
}
/* Responsive para pantallas pequeñas */
@media (max-width: 768px) {
    .header-title {
        display: none; /* Ocultar en pantallas pequeñas */
    }
    .nav-buttons {
        display: none; /* Ocultar los botones en pantallas pequeñas */
    }

  .logo {
    font-size: 1.2em;
  }
  .menu-button {
    display: inline-block; /* Mostrar el botón de menú en pantallas pequeñas */
  }
}

